<% layout('/layouts/boilerPlates') -%>
  <body>
<div class="container col-lg-6 mt-5">
    <h2 class="mb-4 text-center">Create New Listing</h2>

    <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
                id="title"
                name="listing[title]"
                type="text"
                class="form-control"
                placeholder="Enter title"
                required
            >
             <div class="valid-feedback">
                Looks good!
             </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
                id="description"
                name="listing[description]"
                class="form-control"
                rows="4"
                placeholder="Enter description"
                required
            ></textarea>
            <div class="invalid-feedback">
            Please provide a valid Description.
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
                id="image"
                name="listing[image][url]"
                class="form-control"
                rows="4"
                placeholder="Enter image-url"
                required
            >
            <div class="invalid-feedback">
            Please provide a valid Image.
            </div>
        </div> 

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
                id="price"
                name="listing[price]"
                class="form-control"
                placeholder="Enter price"
                required
            >
            <div class="invalid-feedback">
            Please provide a valid Price.
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
                id="location"
                name="listing[location]"
                type="text"
                class="form-control"
                placeholder="Enter location"
                required
            >
            <div class="invalid-feedback">
            Please provide a valid Location.
            </div>
        </div>

        <div class="mb-4">
            <label for="country" class="form-label">Country</label>
            <input
                id="country"
                name="listing[country]"
                type="text"
                class="form-control"
                placeholder="Enter country"
                required
            >
            <div class="invalid-feedback">
            Please provide a valid Country.
            </div>
        </div>

        <button type="submit" class="btn btn-dark w-60" class="add-btn">
            Save Listing
        </button>

    </form>
</div>
  </body>
</html>
