<% layout('/layouts/boilerPlates') -%>

<div class="container mt-5 col-md-6">
    <h2 class="text-center mb-4">Login Account</h2>

    <form action="/login" method="POST" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
            >
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                required
            >
            <div class="invalid-feedback">
                Password is required.
            </div>
        </div>

        <button class="btn btn-dark w-100" type="submit">
            Sign Up
        </button>
    </form>
</div>

<script>
(() => {
    'use strict';

    const forms = document.querySelectorAll('.needs-validation');

    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
})();
</script>